Images/
Downloads/
Workspace/
.aptitude/
.bash_history
.bash_logout
.cache/
.config/
.dbus/
.gconf/
Documents/
Training/
lib/
.gnome
.gnupg/
.java/
.local/
.mozilla/
.pki/
.vim/
.viminfo
.ICEauthority
Téléchargements/
